<div class="container-fluid">
  <div class="row presentation">
    <div class="description col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <span class="description-name">Roberta Tavares</span>
      <div class="d-flex justify-content-start pt-4">
        <h3 class="presentation-header">Seja o protagonista da sua história</h3>
      </div>
      <div class="d-flex justify-content-start pt-4">
        <span class="presentation-description">
          Um dia ruim não significa uma vida ruim. Trilhar um caminho baseado nos seus valores é o primeiro passo para
          desfrutar de uma vida plena e com significado.
        </span>
      </div>
      <div class="btn-agendar pt-4">
        <button class="btn btn-success " routerLink="/agendar"><i class="bi bi-whatsapp pe-2"></i>Agendar
          Consulta</button>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <img src="assets/img/roberta-1.svg" width="100%" height="100%">
    </div>
  </div>
  <div class="d-flex justify-content-center pb-3">
    <div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8 pt-4 pb-4">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 row">
          <i class="bi bi-cloud-lightning-rain d-flex justify-content-center"></i>
          <span class="d-flex justify-content-center">Tratamento para ansiedade</span>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 row">
          <i class="bi bi-layout-wtf d-flex justify-content-center"></i>
          <span class="d-flex justify-content-center">Inteligência emocional</span>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 row">
          <i class="bi bi-rocket-takeoff d-flex justify-content-center"></i>
          <span class="d-flex justify-content-center">Desenvolvimento pessoal</span>
        </div>
      </div>
    </div>
  </div>
  <div class="p-5">
    <div class="row pb-3">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>
          Desenvolver uma relação mais saudável e flexível com suas emoções e pensamentos te permite desfrutar da vida
          de forma mais leve e equilibrada.
        </p>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>
          Se você, frequentemente, sente angustia, ansiedade, falta de energia e motivação, proponho começar uma nova
          fase: Conhecer a si mesmo e aprender a lidar de forma eficaz com essas adversidades.</p>
      </div>
    </div>
    <div class="d-flex justify-content-center pt-5 pb-3">
      <button class="btn btn-success " routerLink="/agendar"><i class="bi bi-whatsapp pe-2"></i>Agendar
        Consulta</button>
    </div>
  </div>
  <div class="p-5">

    <div class="row pt-5 pb-3">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <h2>
          Aprenda a lidar de forma funcional com as suas emoções e não seja mais refém dos seus sentimentos e
          pensamentos.
        </h2>
      </div>
    </div>
    <div class="row pt-3 pb-3">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <p>
          Já ajudei centenas de pacientes a alcançarem vidas mais valorosas ao encontrar o equilíbrio entre o sentir,
          pensar e agir auxiliando-os a se reconectarem com seus propósitos.
        </p>
      </div>
    </div>
    <div class="row pt-3 pb-3">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card pt-2 pb-3" style="display: flex; text-align: center;">
          <i class="bi bi-people"></i>
          <span>150</span>
          <span>Pacientes atendidos</span>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card pt-2 pb-3" style="display: flex; text-align: center;">
          <span class="material-symbols-outlined">
            forum
          </span>
          <span>5 mil</span>
          <span>Sessões realizadas</span>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card pt-2 pb-3" style="display: flex; text-align: center;">
          <i class="bi bi-pie-chart"></i>
          <span>Incontáveis</span>
          <span>Vidas transformadas</span>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="p-5">
    <div class="row pt-3 pb-3">
      <h4>Veja o que alguns dos meus pacientes dizem sobre a terapia</h4>
      <div class="d-flex justify-content-center pt-3">
        <div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8">

        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center pt-5 pb-3">
      <button class="btn btn-success " routerLink="/agendar"><i class="bi bi-whatsapp pe-2"></i>Agendar
        Consulta</button>
    </div>
  </div> -->
  <div class="p-5">
    <div class="row pb-3">
      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
        <h2>A terapia <span class="act">ACT</span> para transformar sua vida</h2>
        <h3>Aprenda a lidar com pensamentos e emoções difíceis de uma forma mais saudável e construtiva, ao invés de
          lutar
          contra eles.</h3>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">

      </div>
    </div>
    <div class="row pb-3">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">

      </div>
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <p>
          A <strong>ACT</strong> é uma abordagem da psicologia contextual baseada em evidencias que tem como objetivo
          ajudar as pessoas a
          lidar de forma consciente com suas emoções, pensamentos e comportamentos, ao invés de tentar mudá-los ou
          evitá-los, ajudando-as a construir uma vida significativa que reflita seus valores.
        </p>

        <p class="pt-2 pb-2"><strong>Podemos dividir esse modelo de intervenção em 3 etapas.</strong></p>

        <p class="pt-2 pb-2"><strong>Aceitação:</strong> Nesta etapa, o paciente é incentivado a aceitar e compreender
          as suas emoções
          difíceis,
          pensamentos
          e
          sensações, sem julgamento ou resistência. O objetivo é aprender a lidar de forma saudável com as dificuldades
          e
          evitar que elas tomem conta da sua vida.
        </p>

        <p class="pt-2 pb-2">
          <strong>Ressignificação:</strong> Depois de aceitar e compreender as suas dificuldades, o paciente aprende a
          ressignificá-las.
          Isso significa encontrar novos significados e perspectivas para as situações que antes causavam dor emocional.
        </p>

        <p>
          <strong>
            Compromisso:
          </strong>
          Finalmente, o paciente é encorajado a se comprometer com ações que sejam coerentes com seus
          valores
          de vida. O objetivo é ajudar o paciente a construir uma vida mais significativa, concentrando-se nas coisas
          que
          realmente importam para ele.
        </p>
      </div>
      <div class="d-flex justify-content-center pt-5">
        <button class="btn btn-success" routerLink="/agendar"><i class="bi bi-whatsapp pe-2"></i>Agendar
          Consulta</button>
      </div>
    </div>
  </div>
  <div class="img-description">
    <div class="row pt-4 p-5">
      <h2 class="presentation-header">A terapia é pra quem:</h2>
    </div>
    <div class="row">
      <div class="p-5 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">

        <div class="check-text" style="color: #f5f5dc">

          <p><i class="bi bi-patch-check"></i>Busca desenvolver suas habilidades emocionais;</p>

          <p><i class="bi bi-patch-check"></i>Se sente frequentemente ansioso(a);</p>

          <p><i class="bi bi-patch-check"></i>Está sempre estressado e não consegue lidar com
            suas emoções;</p>

          <p><i class="bi bi-patch-check"></i>Sente que sua vida não está indo na direção que
            gostaria, mas não sabe por onde começar a mudança;</p>

          <p><i class="bi bi-patch-check"></i>Deseja desenvolver a inteligência emocional;</p>

          <p><i class="bi bi-patch-check"></i>Quer fortalecer o seu relacionamento consigo mesmo
            e com as outras pessoas;</p>

          <p><i class="bi bi-patch-check"></i>Passou por situações traumáticas e quer deixá-las
            para trás;</p>

          <p><i class="bi bi-patch-check"></i>Quer desenvolver hábitos sadios, estimulando a
            saúde mental diariamente;</p>

          <p><i class="bi bi-patch-check"></i>Quer encontrar o seu propósito de vida;</p>

          <p><i class="bi bi-patch-check"></i>Quer melhorar o seu desenvolvimento como
            profissional;</p>

          <p><i class="bi bi-patch-check"></i>Quer aumentar sua autoestima e ter mais confiança;
          </p>
        </div>

        <div class="d-flex justify-content-center pt-5">
          <button class="btn btn-success" routerLink="/agendar"><i class="bi bi-whatsapp pe-2"></i>Agendar
            Consulta</button>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
        <img src="assets/img/roberta-2.svg" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>
  <div class="p-5">
    <div class="row pt-4">
      <h4>Conheça a sua psicóloga</h4>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <img src="/assets/img/roberta-4.svg" width="100%" height="100%">
      </div>
      <div class="ps-3 col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <span>
          Nathália Moura é psicóloga clínica e, desde 2017, já ajudou centenas de pessoas a atingirem sua melhor versão
          e
          alcançarem uma melhor qualidade de vida através da terapia contextual.

          Sua história mudando a vida das pessoas começa no início da faculdade quando teve a oportunidade de trabalhar
          como
          vendedora em uma boutique erótica e como professora de dança, locais que a permitiram desenvolver um olhar
          acolhedor ao lidar com pessoas em situações completamente vulneráveis.

          Sua jornada na psicologia começou iniciou ainda na faculdade, realizando atendimentos na clínica escola e em
          uma
          escola do município onde teve contato com realidades completamente diferentes das que estava acostumada,
          permitindo que desenvolvesse uma visão de mundo muito mais empática.

          Hoje, combina em sua prática clínica seus conhecimentos em psicologia, neurociência e comportamento e sua
          experiência plural de vida.
        </span>
      </div>
      <div class="d-flex justify-content-center pt-5">
        <button class="btn btn-success" routerLink="/agendar"><i class="bi bi-whatsapp pe-2"></i>Agendar
          Consulta</button>
      </div>
    </div>
    <div class="row pt-4">
      <h4>Contato rápido</h4>
      <div class="col-xl-6 col-md-6 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <h3><i class="bi bi-geo-alt d-flex align-items-center pe-2">Endereço</i></h3>
          <span>Rua Cinco de Julho</span>
        </div>
        <div class="row">
          <h3><i class="bi bi-telephone d-flex align-items-center pe-2">Telefone</i></h3>
          <span>(21) 96746-9926</span>
        </div>
        <div class="row">
          <h3><i class="bi bi-envelope d-flex align-items-center pe-2">E-mail</i></h3>
          <span></span>
        </div>
        <div class="row">
          <h3><i class="bi bi-clock d-flex align-items-center pe-2">Horário de funcionamento</i></h3>
          <span></span>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 p-3">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.259796371414!2d-43.106241525260906!3d-22.903786537762674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9983fa431bbaff%3A0x84662dbff9467fea!2sR.%20Cinco%20de%20Julho%2C%20Niter%C3%B3i%20-%20RJ%2C%2024220-000!5e0!3m2!1spt-PT!2sbr!4v1743880016727!5m2!1spt-PT!2sbr"
          width="100%" height="200%" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>