* {
    margin: 0;
    padding: 0;
}

.presentation,
.img-description {
    background: linear-gradient(to right, #2b1811, #5f371d);

    .description {
        padding: 3em;
        display: grid;
        align-content: center;
        gap: 5em;
    }

    .description-name {
        color: #f5f5dc;
        font-size: 2em;
        font-weight: bold;
    }

    .presentation-header {
        color: #f5f5dc;
        font-size: 2.5em;
    }

    .presentation-description {
        color: #f5f5dc;
        font-size: 1.5em;
    }
}

p {
    color: #7d7d7d;
    font-size: 1.2em;
    font-family: "Urbanist", Sans-serif;
    font-weight: 500;
}

.bi.bi-patch-check{
    color: green;
    padding-right: 1em;
}

.check-text {
    p{
        line-height: 2em;
        font-weight: 500;
        font-family: "Urbanist", Sans-serif;
        letter-spacing: 0.3px;
        color: #f5f5dc !important;
    }
}

h2 {
    color: #616f50;
    font-family: "Urbanist", Sans-serif;
    font-size: 2.5em;
    font-weight: 600;
}

.act {
    color: #c9ae91
}

h3 {
    color: #7D7D7D;
    font-family: "Urbanist", Sans-serif;
    font-size: 1.1em;
    padding-top: 1em;
    font-weight: 600;
}

button {
    width: 20em;
    padding: 20px 0px 20px 0px;
    font-family: "Urbanist", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: #c2a789;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    border-color: #616f50;
    border-radius: 25px 3px 25px 3px;
    box-shadow: 10px 10px 60px 0px rgb;
}

button:hover {
    color: #ffffff;
    background-color: transparent;
    background-image: linear-gradient(175deg, #c9ae91 28%, #a68c6e 100%);
}